:root {
  --color-text: #00FFFF;
  --COLOR-BORDER: #00BFFF;
  --color-projects : #FF00FF;
  --color-glow: #FF0099;
  --cyber-purple: #800080;
  --neon-violet: #8A2BE2;
  --neon-pink: #FF1493;
  --neon-blue: #1E90FF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-image: url('assets/cyberpunk-desktop.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

